{% extends "NominaApp/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'NominaApp/img/principal.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">T Consulting S.A.</span>
            <span class="section-heading-lower">"¡Beneficios Exclusivos para Empleados!</span>
          </h2>
          <p class="mb-3"> En nuestra empresa, cuidamos a nuestros empleados. Ahora puedes comprar a crédito tus productos en nuestra tienda interna. ¡Disfruta de esta ventaja especial!
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Servicio Exclusivo para Nuestros Empleados</span>
              </h2>
              <p class="mb-0"> ¡Confía en nosotros para tus compras en la tienda interna de la empresa! Nuestro compromiso es brindarte calidad y conveniencia. Aprovecha este beneficio exclusivo y disfruta de una experiencia de compra sin preocupaciones. ¡Tu satisfacción es nuestra prioridad</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}